@import "/src/styles/variable.scss";
@import "/src/styles/mixins.scss";

.serviceCard {
  padding: $space-80 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  text-transform: lowercase;
  overflow: hidden;
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    font-size: 20px;
    line-height: 26px;
  }

  &__title {
    @include h3Title;
    font-weight: 600;
    @media (max-width: 480px) {
      font-size: 20px;
      line-height: 26px;
      padding-bottom: 40px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    @include paragraph;
    @media (max-width: 480px) {
      font-size: 16px;
      line-height: 20.8px;
    }
    &_description {
      padding-bottom: $space-80;
      @media (max-width: 480px) {
        padding-bottom: 40px;
      }
    }
    &_point {
      padding: $space-40 0;
      @media (max-width: 480px) {
        padding: 20px 0;
      }
    }
    &_projects {
      margin-top: $space-80;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $space-20;
      grid-column: 1/3;
      @media (max-width: 480px) {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
