@import "./mixins.scss";
@import "./variable.scss";

.about {
  padding: $space-80 $space-40 240px $space-40;
  @media (max-width: 480px) {
    padding: 80px 20px 60px 20px;
  }
  &__headContainer {
    padding-bottom: $space-80;
    @media (max-width: 480px) {
      padding-bottom: 60px;
    }
    &__title {
      @include h1Title;
      text-transform: uppercase;
      padding-bottom: $space-40;
      @media (max-width: 480px) {
        padding-bottom: 40px;
        font-size: 22px;
        line-height: 23.87px;
      }
    }
    &__description {
      @include h3Title;
      text-transform: lowercase;
      @media (max-width: 480px) {
        font-size: 16px;
        line-height: 20.8px;
      }
    }
  }
  &__ideologyContainer {
    padding: $space-80 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 480px) {
      padding: 40px 0;
      display: flex;
      flex-direction: column;
    }
    &__title {
      @include h3Title;
      text-transform: lowercase;
      @media (max-width: 480px) {
        font-size: 20px;
        line-height: 26px;
        padding-bottom: 40px;
      }
    }
    &__description {
      @include paragraph;
      display: flex;
      flex-direction: column;
      text-transform: lowercase;
      list-style-type: none;
      gap: $space-20;
      @media (max-width: 480px) {
        font-size: 16px;
        line-height: 20.8px;
        gap: 20px;
      }
    }
  }

  &__team {
    padding: $space-80 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      padding: 40px 0;
    }
    &__title {
      @include h3Title;
      text-transform: lowercase;
      @media (max-width: 480px) {
        font-size: 20px;
        line-height: 26px;
        font-weight: 600;
        padding-bottom: 40px;
      }
    }

    &__departaments {
      @include paragraph;
      text-transform: lowercase;
      @media (max-width: 480px) {
        font-size: 16px;
        line-height: 20.8px;
      }
      &__departament {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: $space-40 0;
        @media (max-width: 480px) {
          padding: 20px 0;
        }
        &:first-of-type {
          padding-top: 0;
        }

        &_title {
          grid-column: 1;
        }
        &_item {
          grid-column: 2;
        }
      }
    }
  }

  &__vacancies {
    padding-top: $vacancySpace;
    @media (max-width: 480px) {
      padding-top: 60px;
    }
    &__title {
      @include h1Title;
      text-transform: uppercase;
      padding-bottom: $space-80;
      @media (max-width: 480px) {
        font-size: 22px;
        line-height: 23.87px;
        padding-bottom: 40px;
      }
    }

    &__vacancy {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: $space-80 0;
      @media (max-width: 480px) {
        padding: 40px 0;
      }
      &_title {
        @include paragraph;
        text-transform: lowercase;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }

      &_description {
        @include paragraph;
        text-transform: lowercase;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }
    }
  }
}
