@import "./mixins.scss";
@import "./variable.scss";

.aimi {
  &__hero {
    width: 100%;
    height: 100vh;
    z-index: 0;

    background-image: url(../../public/projects/aimi/aimi_background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    &_animations {
      width: 100%;
      height: 100vh;
      display: flex;
      position: relative;
      flex-direction: column;
      z-index: 10;
      justify-content: space-between;

      &_animationTop {
        top: 0;
        position: absolute;
        transform: rotate(180deg);
      }
      &_animation {
        &_title {
          @include h1Title;
          text-transform: uppercase;
        }

        @media (max-width: 480px) {
          display: none;
        }
      }
    }

    @media (max-width: 480px) {
      background-image: url(../../public/projects/aimi/aimi-mob.webp);
    }
  }
  &__about {
    padding: $space-80 $space-40 clamp(4.8125rem, 0rem + 16.0417vw, 19.25rem)
      $space-40;
    position: relative;
    @media (max-width: 480px) {
      padding: 100px 20px 90px 20px;
    }
    &__head {
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      padding-bottom: $space-50;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding-bottom: 40px;
      }
      &_title {
        @include h1Title;
        text-transform: uppercase;
        @media (max-width: 480px) {
          font-size: 22px;
          line-height: 23.87px;
        }
      }

      &_subtitle {
        @include paragraph;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }

      &_point {
        color: #3e3e3e;
        &:first-of-type {
          color: #fff;
        }
      }
    }

    &__description {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      padding-bottom: $space-100;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
      }
      &__subtitle {
        display: flex;
        flex-direction: column;
        gap: $space-40;

        @media (max-width: 480px) {
          gap: 20px;
        }

        &_paragraph {
          @include paragraph;
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 20.8px;
          }
        }

        &_big {
          @include h3Title;
          @media (max-width: 480px) {
            padding-top: 20px;
            font-size: 16px;
            line-height: 20.8px;
          }
        }
      }
    }
  }

  &__mainPage,
  &__infographics,
  &__firm,
  &__typography,
  &__smm {
    padding: $space-80 $space-40
      clamp(3.3125rem, 0.0208rem + 10.9722vw, 13.1875rem) $space-40;
    @media (max-width: 480px) {
      padding: 40px 20px 90px 20px;
    }
    &__info {
      @include h3Title;
      text-transform: lowercase;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;

      padding: 0 0 $space-80 0;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 26px;

        &_description {
          padding-top: 20px;
          font-size: 16px;
          line-height: 20.8px;
          font-weight: 400;
        }
      }
    }
  }

  &__mainPage {
    &__images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  &__infographics {
    &__images {
      span {
        @include h3Title;
        text-transform: lowercase;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }
      &_container {
        margin-top: $space-20;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $space-20;
        @media (max-width: 480px) {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }

  &__firm {
    &__imageGridContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      gap: $space-20;

      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      &_imageBig {
        grid-column: 1/3;
      }

      &_image,
      &_imageBig {
        object-fit: cover;
        width: 100%;
        height: clamp(10.375rem, 0rem + 34.5833vw, 41.5rem);
        border-radius: 20px;

        @media (max-width: 480px) {
          height: 254px;
        }
      }
    }
  }

  &__typography {
    &__info__example {
      text-transform: lowercase;
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      @media (max-width: 480px) {
        margin-top: 20px;
      }
      &_letters {
        display: flex;
        flex-direction: column;
        gap: $space-20;

        @media (max-width: 480px) {
          gap: 10px;
        }
      }
    }
  }

  &__smm {
    position: relative;
    &__info {
      &__images {
        display: flex;
        gap: $space-20;
        @media (max-width: 480px) {
          display: none;
        }
        &_image1,
        &_image2 {
          width: clamp(8.25rem, 0rem + 27.5vw, 33rem);
          height: clamp(6.6875rem, 0.0208rem + 22.2222vw, 26.6875rem);
          background-size: contain;
          background-repeat: no-repeat;
        }

        &_image1 {
          background-image: url(../../public/projects/aimi/smm1.webp);
        }
        &_image2 {
          background-image: url(../../public/projects/aimi/smm2.webp);
        }
      }
    }
  }

  &__linkedin {
    padding: $space-80 $space-40
      clamp(3.3125rem, 0.0208rem + 10.9722vw, 13.1875rem) $space-40;
    @include h3Title;
    text-transform: lowercase;
    @media (max-width: 480px) {
      padding: 40px 20px 0 20px;
      font-size: 20px;
      line-height: 26px;
      font-weight: 600;
    }
    &__images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: $space-80;
      @media (max-width: 480px) {
        display: none;
      }

      &_image1,
      &_image2,
      &_image3 {
        width: 100%;
        height: clamp(10.375rem, 0rem + 34.5833vw, 41.5rem);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: $space-20;
      }
      &_image1 {
        background-image: url(../../public/projects/aimi/linkedin1.webp);
      }
      &_image2 {
        background-image: url(../../public/projects/aimi/linkedin2.webp);
      }
      &_image3 {
        background-image: url(../../public/projects/aimi/linkedin3.webp);
      }
    }

    &__slider {
      display: none;
      @media (max-width: 480px) {
        display: block;
        margin-bottom: 150px;
      }
    }
  }

  &__team {
    padding: 0 $space-40 clamp(3.3125rem, 0.0208rem + 10.9722vw, 13.1875rem)
      $space-40;
    @media (max-width: 480px) {
      display: none;
    }
    &_title {
      @include h3Title;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: $space-50;
    }

    &__member {
      display: flex;
      justify-content: space-between;
      padding: $space-20 0;
      @include paragraph;
      border-bottom: 1px solid #3e3e3e;
    }
  }
}
