@import "./mixins.scss";
@import "./variable.scss";

// .lottie {
//   // TODO: изначально не было
//   height: 400px;
//   @media (max-width: 480px) {
//     height: 200px;
//   }
// }

.avivir {
  padding: 0 $space-40;
  @media (max-width: 480px) {
    padding: 0 20px;
  }
  &__hero {
    width: 100%;
    height: 100vh;

    background-image: url(../../public/projects/avivir/avivir-hero.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 480px) {
      background-image: url(../../public/projects/avivir/new_main_mobile.png);
    }
  }
  &__about {
    padding: $space-80 0 clamp(4.8125rem, 0rem + 16.0417vw, 19.25rem) 0;
    position: relative;
    @media (max-width: 480px) {
      padding: 100px 0 90px 0;
    }
    &__circle {
      position: absolute;
      left: -30%;
      z-index: 0;
      @media (max-width: 480px) {
        display: none;
      }
    }
    &__head {
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      padding-bottom: $space-50;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        gap: 60px;
      }
      &_title {
        @include h1Title;
        text-transform: uppercase;
        @media (max-width: 480px) {
          font-size: 22px;
          line-height: 23.87px;
        }
      }

      &_subtitle {
        @include h3Title;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }

      &_point {
        color: #fff;
      }
    }

    &__description {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;

      padding-bottom: $space-100;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        padding-bottom: 90px;
      }

      &__subtitle {
        display: flex;
        flex-direction: column;
        gap: $space-40;
        @media (max-width: 480px) {
          gap: 20px;
        }

        &_paragraph {
          @include h3Title;
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 20.8px;
          }
        }

        &_big {
          @include h3Title;
          @media (max-width: 480px) {
            padding-top: 20px;
            font-size: 16px;
            line-height: 20.8px;
          }
        }
      }
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: $space-20;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      &__card {
        @include paragraph;
        padding: $space-80 0;
        text-align: center;
        width: 100%;
        border: 1px solid #3e3e3e;
        @media (max-width: 480px) {
          padding: 30px 0;
          font-size: 16px;
          line-height: 20.8px;
        }
      }
    }
  }

  &__mainPage {
    padding: 0 0 clamp(3.3125rem, 0.0208rem + 10.9722vw, 13.1875rem) 0;
    @media (max-width: 480px) {
      padding: 0 0 90px 0;
    }

    &__info {
      @include h3Title;
      text-transform: lowercase;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;

      padding: 0 0 $space-80 0;

      @media (max-width: 480px) {
        padding: 0 0 40px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &_title {
        @include h3Title;
        font-weight: 600;

        @media (max-width: 480px) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      &_description {
        @include paragraph;
        font-weight: 400;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }
    }

    &__image {
      height: clamp(22.4375rem, 0.0417rem + 74.6528vw, 109.625rem);
      width: 100%;
      background-image: url(../../public/projects/avivir/avivir_mainPage_design.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @media (max-width: 480px) {
        width: 100%;
        height: 280px;
      }
    }
  }

  &__adaptiveDesign {
    padding: $space-80 0 clamp(3.3125rem, 0.0208rem + 10.9722vw, 13.1875rem) 0;
    position: relative;
    @media (max-width: 480px) {
      padding: 0 0 90px 0;
    }
    &__circle {
      position: absolute;
      transform: scale(-1, 1);
      top: -10%;
      right: -20%;
      @media (max-width: 480px) {
        display: none;
      }
    }
    &__info {
      @include h3Title;
      text-transform: lowercase;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;

      padding: 0 0 $space-80 0;
      @media (max-width: 480px) {
        padding: 0 0 40px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &_title {
        @include h3Title;
        font-weight: 600;

        @media (max-width: 480px) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      &_description {
        @include paragraph;
        font-weight: 400;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }
    }

    &__images {
      background-image: url(../../public/projects/avivir/avivir_adaptive_new.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: clamp(18.6875rem, -0.0208rem + 62.3611vw, 74.8125rem);
      @media (max-width: 480px) {
        background-image: url(../../public/projects/avivir/avivir_adaptive_mob.png);

        height: 1000px;
      }
    }
  }

  &__smm {
    padding: $space-80 0 clamp(3.3125rem, 0.0208rem + 10.9722vw, 13.1875rem) 0;
    position: relative;
    @media (max-width: 480px) {
      padding: 0 0 90px 0;
    }

    &__circle {
      position: absolute;

      left: -20%;
      bottom: 20%;
      z-index: 1;

      @media (max-width: 480px) {
        display: none;
      }
    }

    &__info {
      @include h3Title;
      text-transform: lowercase;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;

      padding: 0 0 $space-80 0;
      @media (max-width: 480px) {
        padding: 0 0 40px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &_title {
        @include h3Title;
        font-weight: 600;

        @media (max-width: 480px) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      &_description {
        @include paragraph;
        font-weight: 400;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }
    }

    &__images {
      z-index: 2;

      background-image: url(../../public/projects/avivir/avivir_smm-bg.webp);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: clamp(17.1875rem, 0rem + 57.2917vw, 68.75rem);
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 480px) {
        height: 447px;
        display: none;
      }
      &__slider {
        margin-top: $space-100;
        width: 100vw;
        height: 80%;
        @media (max-width: 480px) {
          margin-top: 70px;
        }

        &_slide {
          width: 100%;
          height: 100%;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            cursor: grab;
          }
        }
      }
    }

    &__imagesMobile {
      display: none;
      @media (max-width: 480px) {
        display: block;
        z-index: 2;

        background-image: url(../../public/projects/avivir/avivir_smm-bg.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 447px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__slider {
          width: 100vw;
          height: 80%;

          &_slide {
            width: 100%;
            height: 100%;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  &__firm {
    padding: $space-80 0 0 0;
    position: relative;
    @media (max-width: 480px) {
      padding: 0 0 40px 0;
    }
    &__info {
      @include h3Title;
      text-transform: lowercase;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;

      padding: 0 0 $space-80 0;
      @media (max-width: 480px) {
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &_title {
        @include h3Title;
        font-weight: 600;

        @media (max-width: 480px) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      &_description {
        @include paragraph;
        font-weight: 400;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }
    }
    &__imageGridContainer {
      height: clamp(25rem, -0.0417rem + 83.4722vw, 100.125rem);
    }
    &__images {
      display: grid;
      height: 100%;
      grid-template-rows: repeat(2, 1fr);
    }
  }

  &__information {
    padding: $space-80 0 clamp(3.3125rem, 0.0208rem + 10.9722vw, 13.1875rem) 0;
    position: relative;
    @media (max-width: 480px) {
      padding: 90px 0 40px 0;
    }
    &__info {
      @include h3Title;
      text-transform: lowercase;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;

      padding: 0 0 $space-80 0;
      @media (max-width: 480px) {
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &_title {
        @include h3Title;
        font-weight: 600;

        @media (max-width: 480px) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      &_description {
        @include paragraph;
        font-weight: 400;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;

      @media (max-width: 480px) {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    &__cardTexts {
      display: flex;
      flex-direction: column;
      gap: $space-10;

      padding: $space-40;
      justify-content: start;
      z-index: 10;
      opacity: 0;
      pointer-events: none;

      &_title {
        @include h3Title;

        text-transform: lowercase;

        @media (max-width: 480px) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      &_description {
        @include paragraph;
        text-transform: lowercase;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }
    }

    &__card1,
    &__card2,
    &__card_big {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: start;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 0;
      cursor: pointer;
      position: relative;

      &_overflow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
        z-index: 4;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &__card1,
    &__card2 {
      height: clamp(17.5rem, -0.0208rem + 58.4028vw, 70.0625rem);
      @media (max-width: 480px) {
        height: 360px;
        width: 100%;
      }
    }

    &__card1 {
      grid-column: 1;
      background-image: url(../../public/projects/avivir/firmstyle.webp);
    }

    &__card2 {
      grid-column: 2;
      background-image: url(../../public/projects/avivir/firmstyle2.webp);
    }

    &__card_big {
      height: clamp(16.375rem, 0.0208rem + 54.5139vw, 65.4375rem);
      grid-row: 2;
      grid-column: 1/3;
      background-image: url(../../public/projects/avivir/firmstyle3.webp);
      @media (max-width: 480px) {
        height: 360px;
        width: 100%;
      }
    }
  }
}
