@import "./mixins.scss";
@import "./variable.scss";

.otherPageBody {
  background-color: #fff;
  color: #000;
}
.mainPageBody {
  background-color: #000;
  color: #fff;
}

.mindlyPage {
  background-color: #e5e6e1;
  color: #3e3e3e;
}

.madaiaPage {
  background-color: #dfcfbe;
  color: #000;
}
