@import "./mixins.scss";
@import "./variable.scss";

.otherPageBody {
  background-color: #fff;
  color: #000;
}
.mainPageBody {
  background-color: #000;
  color: #fff;
}

.mindlyPage {
  background-color: #e5e6e1;
  color: #3e3e3e;
}

.madaiaPage {
  background-color: #dfcfbe;
  color: #000;
}

.telegramLogo {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 40px;
  top: 50%;
  z-index: 10000;

  img {
    height: 100%;
    width: 100%;
  }
}
