@import "./mixins.scss";
@import "./variable.scss";

.frenchi {
  &__hero {
    width: 100%;
    height: 100vh;

    background-image: url(../../public/projects/frenchi/new_main_desk.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 480px) {
      background-image: url(../../public/projects/frenchi/new_main_mob.png);
    }
  }
  &__about {
    padding: $space-80 $space-40 0 $space-40;
    position: relative;
    @media (max-width: 480px) {
      padding: 100px 20px 90px 20px;
    }
    &__circle {
      position: absolute;
      left: -30%;
      z-index: 0;
      @media (max-width: 480px) {
        display: none;
      }
    }
    &__head {
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      padding-bottom: $space-50;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        gap: 60px;
      }
      &_title {
        @include h1Title;
        @media (max-width: 480px) {
          font-size: 22px;
          line-height: 23.87px;
        }
      }

      &_subtitle {
        @include paragraph;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }

      &_point {
        color: #3e3e3e;
        &:first-of-type {
          color: #fff;
        }
      }
    }

    &__description {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      padding-bottom: $space-100;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        padding-bottom: 90px;
      }
      &__subtitle {
        display: flex;
        flex-direction: column;
        gap: $space-40;
        @media (max-width: 480px) {
          gap: 20px;
        }
        &_paragraph {
          @include paragraph;
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 20.8px;
          }
        }

        &_big {
          @include h3Title;
          @media (max-width: 480px) {
            padding-top: 20px;
            font-size: 16px;
            line-height: 20.8px;
          }
        }
      }
    }
  }

  &__mainPage {
    padding: 0 0 clamp(3.3125rem, 0.0208rem + 10.9722vw, 13.1875rem) 0;
    @media (max-width: 480px) {
      padding: 0 0 90px 0;
    }

    &__info {
      @include h3Title;
      text-transform: lowercase;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;

      padding: 0 0 $space-80 0;
      @media (max-width: 480px) {
        padding: 0 0 40px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &_title {
        @include h3Title;
        font-weight: 600;

        @media (max-width: 480px) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      &_description {
        @include paragraph;
        font-weight: 400;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }
    }

    &__images {
      display: flex;
      flex-direction: column;
      gap: $space-20;
      @media (max-width: 480px) {
        gap: 20px;
      }
      &_img1 {
        background-image: url(../../public/projects/frenchi/1.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: clamp(9.375rem, 0.0417rem + 31.1111vw, 37.375rem);
        border-radius: 20px;
        @media (max-width: 480px) {
          background-image: url(../../public/projects/frenchi/frenchi_mobile1.webp);
          height: 390px;
        }
      }

      &_img2 {
        background-image: url(../../public/projects/frenchi/2.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: clamp(12.5rem, -0.0208rem + 41.7361vw, 50.0625rem);
        border-radius: 20px;
        @media (max-width: 480px) {
          background-image: url(../../public/projects/frenchi/frenchi_mobile2.webp);
          height: 390px;
        }
      }
      &_img3,
      &_img4,
      &_img5 {
        display: none;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width: 480px) {
          display: block;
        }
      }
      &_img3 {
        @media (max-width: 480px) {
          background-image: url(../../public/projects/frenchi/frenchi_mobile3.webp);
          height: 390px;
        }
      }
      &_img4 {
        @media (max-width: 480px) {
          background-image: url(../../public/projects/frenchi/frenchi_mobile4.webp);
          height: 390px;
        }
      }
      &_img5 {
        @media (max-width: 480px) {
          background-image: url(../../public/projects/frenchi/frenchi_mobile5.webp);
          height: 390px;
        }
      }
    }
  }

  &__adaptive {
    padding: 0 0 clamp(4.125rem, 0rem + 13.75vw, 16.5rem) 0;
    @media (max-width: 480px) {
      padding: 0 0 90px 0;
    }
    &__info {
      @include h3Title;
      text-transform: lowercase;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-20;
      @media (max-width: 480px) {
        padding: 0 0 40px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &_title {
        @include h3Title;
        font-weight: 600;

        @media (max-width: 480px) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      &_description {
        @include paragraph;
        font-weight: 400;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 20.8px;
        }
      }
    }

    &__image {
      background-image: url(../../public/projects/frenchi/3.webp);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: clamp(25rem, -0.0417rem + 83.4722vw, 100.125rem);
      @media (max-width: 480px) {
        display: none;
      }
    }
    &__mobileImages {
      display: none;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      &_img1,
      &_img2,
      &_img3 {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
        border-radius: 20px;
      }
      &_img1 {
        background-image: url(../../public/projects/frenchi/frenchi_adaptive_mob1.webp);
        @media (max-width: 480px) {
          height: 350px;
        }
      }
      &_img2 {
        background-image: url(../../public/projects/frenchi/frenchi_adaptive_mob2.webp);
      }
      &_img3 {
        background-image: url(../../public/projects/frenchi/frenchi_adaptive_mob3.webp);
      }
    }
  }

  &__images {
    padding-bottom: clamp(3rem, -0.0417rem + 10.1389vw, 12.125rem);
    @media (max-width: 480px) {
      padding-bottom: 0;
    }
    &_img1,
    &_img2,
    &_img3 {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &_img1 {
      height: clamp(20.8125rem, -0.0208rem + 69.4444vw, 83.3125rem);
      background-image: url(../../public/projects/frenchi/4.webp);
      @media (max-width: 480px) {
        height: 300px;
      }
    }
    &_img2 {
      height: clamp(22.875rem, -0.0208rem + 76.3194vw, 91.5625rem);
      background-image: url(../../public/projects/frenchi/5.webp);
      @media (max-width: 480px) {
        height: 300px;
      }
    }
    &_img3 {
      // height: clamp(22.875rem, -0.0208rem + 76.3194vw, 91.5625rem);
      width: 100%;
      background-image: url(../../public/projects/frenchi/6.webp);
      @media (max-width: 480px) {
        // height: 300px;
        height: 510px;
        background-image: url(../../public/projects/frenchi/frenchi_mob3.png);
        object-fit: cover;
      }
    }
  }

  &__team {
    padding: 0 $space-40 clamp(3.3125rem, 0.0208rem + 10.9722vw, 13.1875rem)
      $space-40;
    @media (max-width: 480px) {
      display: none;
    }
    &_title {
      @include h3Title;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: $space-50;
    }

    &__member {
      display: flex;
      justify-content: space-between;
      padding: $space-20 0;
      @include paragraph;
      border-bottom: 1px solid #3e3e3e;
    }
  }
}
