@import "../../../styles/mixins.scss";
@import "../../../styles/variable.scss";

.nav {
  height: 100%;
  padding: $space-100 $space-40 $space-50 $space-40;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__body {
    margin-top: $space-100;
    display: flex;
    flex-direction: column;
    gap: $space-10;
  }

  &__linkContainer {
    perspective: 120px;
    perspective-origin: bottom;

    a {
      color: #fff;
      text-decoration: none;
      font-size: $h2;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    a {
      font-size: $h3;
      width: 50%;
    }
  }
}
