@font-face {
  font-family: "Code_Next-Trial";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Code_Next-Trial.woff2") format("woff2");
  font-display: block;
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  cursor: none !important;
  text-transform: lowercase;
}

html,
body {
  overflow-x: hidden;

  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
  z-index: 500;
}

ul {
  list-style-type: none;
}

span {
  font-family: "Inter", sans-serif;
}
