@font-face {
  font-family: "CodeNext-Trial Regular";
  src: local("CodeNext-Trial-Regular"),
    url("../fonts/CodeNext-Trial-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "CodeNext-Trial RegularItalic";
  src: local("CodeNext-Trial-RegularItalic"),
    url("../fonts/CodeNext-Trial-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "CodeNext-Trial SemiBold";
  src: local("CodeNext-Trial-SemiBold"),
    url("../fonts/CodeNext-Trial-SemiBold.otf") format("truetype");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
html,
body {
  background: #000;
  color: white;
  overflow-x: hidden;

  font-family: "CodeNext-Trial RegularItalic";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}
