* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  cursor: none !important;
}

html,
body {
  overflow-x: hidden;

  font-family: "Code Next-Trial";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
  z-index: 500;
}

ul {
  list-style-type: none;
}

span {
  font-family: "Inter", sans-serif;
}
