@import "../../styles/mixins.scss";
@import "../../styles/variable.scss";
.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 0 $space-40;
  z-index: 999;
  @media (max-width: 480px) {
    padding: 40px 20px;
  }
}
.telegramLogo {
  width: 46px;
  height: 46px;
  position: absolute;
  right: 40px;
  top: 50%;

  img {
    height: 100%;
    width: 100%;
  }
}
.header {
  height: max-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  svg {
    mix-blend-mode: difference;
  }
  &__link {
    width: $space-100;
    height: $space-100;
    display: flex;
    align-items: center;

    @media (max-width: 480px) {
      width: 75px;
      height: 13px;
    }
  }
  @media (max-width: 480px) {
    left: 20px;
    right: 20px;
    top: 20px;
  }
  &__logo {
    position: relative;
    width: $logoWidth;
    height: $logoHeight;
    img {
      mix-blend-mode: difference;
    }

    @media (max-width: 480px) {
      width: 75px;
      height: 13px;
    }
  }

  &__text {
    @include h3Title;
    text-align: right;
    &_black {
      @include h3Title;
      text-align: right;
      color: black;
      @media (max-width: 480px) {
        display: none;
        padding-top: 20px;
        font-size: 16px;
        line-height: 20.8px;
      }
    }
    @media (max-width: 480px) {
      display: none;
      padding-top: 20px;
      font-size: 16px;
      line-height: 20.8px;
    }
  }
}
