@import "../../styles/mixins.scss";
@import "../../styles/variable.scss";

.header {
  height: max-content;

  position: absolute;
  left: $space-40;
  right: $space-40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  &__logo {
    position: relative;
    width: $logoWidth;
    height: $logoHeight;
  }

  &__text {
    @include h3Title;
    text-align: right;
  }
}
