@import "../../styles/mixins.scss";
@import "../../styles/variable.scss";

.header {
  position: fixed;
  right: $space-40;
  top: $space-40;

  &__menu {
    position: relative;
    width: 480px;
    height: 650px;
    background-color: #000;
    border-radius: 25px;
  }
}
