@import "../../styles/mixins.scss";
@import "../../styles/variable.scss";

.header {
  position: fixed;
  right: $space-40;
  top: $space-40;
  z-index: 10;
  &__menu {
    position: relative;
    width: $navbarWidth;
    background-color: #000;
    border-radius: 25px;
  }
}
