@import "../../styles/mixins.scss";
@import "../../styles/variable.scss";

.header {
  position: fixed;
  right: $space-40;
  top: $space-100;
  z-index: 1000;

  @media (max-width: 480px) {
    right: 20px;
    top: 20px;
  }

  &__menu {
    position: relative;
    width: $navbarWidth;
    background-color: #000;
    border-radius: 25px;
    @media (max-width: 480px) {
      position: relative;
      width: $navbarWidth;
      background-color: #000;
      border-radius: 25px;
    }
  }
}

// .headerMobile {
//   display: none;
//   @media (max-width: 480px) {
//     display: block;
//     position: fixed;
//     right: 20px;
//     top: 20px;
//     z-index: 1000;

//     &__menu {
//       position: relative;
//       width: $navbarWidth;
//       background-color: #000;
//       border-radius: 25px;
//     }
//   }
// }
